<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("./layout/layout.css.ejs") %>
</head>

<body>

    <%- include("./layout/layout.header.ejs") %>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-primary">Quản lý liên hệ</h6>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>


            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>User Name</th>                           
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Content</th>
                                <th>Date post</th>
                                <!-- <th>Option</th> -->
                            </tr>
                        </thead>

                        <tbody>
                            <% contact_list.rows.forEach(function(contact){ %>
                                <tr>
                                    
                                    <td>
                                        <%= contact.username %>
                                    </td>
                                    <td>
                                        <%= contact.email %>
                                    </td>
                                    <td>
                                        <%= contact.phone %>
                                    </td>
                                    <td>
                                        <%= contact.content %>
                                    </td>
                                    <td>
                                        <%= contact.contactdate %>
                                    </td>
                                   
                                    
                                   
                                   
                                </tr> 

                                
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
        

                <%- include("./layout/layout.footer.ejs") %>
                    <%- include("./layout/layout.js.ejs") %>
</body>

</html>